<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand ms-1" href="{{ path('app_quack-all') }}"><img src="{{asset('image/coincoin.webp')}}"  style="" height="60px" alt=""></a>
        <h1 class="text-light ">QuackNet</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">

                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="px-2">
                {% if is_granted('ROLE_USER') %}
                    <h5 class="offcanvas-title  m-1" id="offcanvasDarkNavbarLabel">{{app.user.duckname}}</h5>
                    <a href="{{ path('app_duck_update') }}"> <img src="{{ asset(app.user.picture) }}" alt="Duck image" class="img-fluid rounded-circle border" style="width: 70px; height: auto;"></a>

                {% else %}
                    <h5 class="offcanvas-title  m-1" id="offcanvasDarkNavbarLabel">QuackNet</h5>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}"> ADMIN</a>
                    </li>
                {% endif %}
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_quack-all') }}">Quacks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('update_duck_password') }}"> Modifier le mot de passe</a>
                        </li>

                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('signup') }}">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}">Deconexion</a>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</nav>