{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- Colonne gauche (Navigation, utilisateurs, etc.) -->
            {% include "partials/_leftBar.html.twig" %}

            <!-- Colonne centrale (Publications) -->
            <section class="col-md-8 p-3">
                {% include "partials/_search_data.html.twig"  %}
                <!-- Formulaire de publication -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Partagez votre Quack</h5>

                        {{ form_start(quackForm) }}

                        <!-- Création d'une ligne avec deux colonnes : content et image + envoyer -->
                        <div class="row">

                            <!-- Colonne pour le contenu (70% de la largeur) -->
                            <div class="col-md-8 mb-3">
                                <div class="form-group">
                                    {{ form_row(quackForm.content, {'attr': {'class': 'form-control', 'placeholder': 'Exprimez-vous...'}}) }}
                                </div>
                            </div>

                            <!-- Colonne pour l'image (30% de la largeur) et le bouton "Envoyer" -->
                            <div class="col-md-4 mb-3">
                                <!-- Champ d'upload d'image -->
                                <div class="form-group">
                                    <label for="quackForm_picture" class="form-label">Téléchargez une image</label>
                                    {{ form_row(quackForm.picture, {'attr': {'class': 'form-control-file', 'id': 'image', 'accept': '.png, .jpg, .jpeg, .webp', 'onchange': 'previewImage(this)'}}) }}
                                </div>

                                <!-- Prévisualisation de l'image -->
                                <div id="imagePreview" class="form-group mt-3 rounded" style="display:none; background-size: cover; width: 100%; height: 200px; border: 1px solid #ccc; background-position: center center;">
                                    <!-- L'image prévisualisée s'affichera ici -->
                                </div>

                                <!-- Bouton "Envoyer" sous l'image, centré -->
                                <div class="d-flex justify-content-center mt-3">
                                    <button type="submit" class="btn btn-primary w-100">Envoyer</button>
                                </div>
                            </div>

                        </div>

                        {{ form_end(quackForm) }}
                    </div>
                </div>

                <!-- Script pour prévisualiser l'image -->
                <script type="text/javascript">
                    function previewImage(input) {
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();
                            reader.onload = function(e) {
                                // Modifier le style du div pour afficher l'image en arrière-plan
                                var imagePreview = document.getElementById('imagePreview');
                                imagePreview.style.backgroundImage = 'url(' + e.target.result + ')';
                                imagePreview.style.display = 'block'; // Afficher la prévisualisation
                            }
                            reader.readAsDataURL(input.files[0]);
                        }
                    }
                </script>

                <!-- Affichage des publications -->
                {% if quackSearch is not empty %}
                    <!-- Si la barre de recherche retourne des résultats -->
                    <h3>Résultats de la recherche</h3>
                    {% for quack in quackSearch %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <h3>{{ quack.author.duckname }}</h3>
                                <img class="img-fluid rounded-circle border" style="width: 70px; height: auto;" src="{{ asset(quack.author.picture) }}" alt="">
                                <p class="card-text">{{ quack.content }}</p>
                                {% if quack.picture %}
                                    <div class="post-image mb-3">
                                        <img src="{{ asset(quack.picture) }}" class="img-fluid rounded" style="height:300px;" alt="Post Image">
                                    </div>
                                {% endif %}
                                <div class="text-muted">
                                    <small>{{ quack.createdAt ? quack.createdAt|date('Y-m-d') : '' }}</small>
                                </div>

                                <!-- Gestion des likes -->
                                {% include "partials/_like.html.twig" with{rating: quack.rating, from: 'quack', id: quack.id} %}

                                <a href="{{ path('app_comment', {id: quack.id}) }}">
                                    <i class="fa-regular fa-comment fa-lg"></i>
                                </a>

                                <strong>: {{ quack.nbresponse }}</strong>

                                <div class="mt-2">
                                    {% if app.user == quack.author or is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('app_quack_edit', {'id': quack.id}) }}" class="btn btn-link p-4"><i class="fa-solid fa-pen"></i></a>
                                        <a href="{{ path('app_quack_delete', {'id': quack.id}) }}" class="btn btn-link text-danger p-4"><i class="fa-solid fa-trash"></i></a>
                                        <a href="{{ path('app_quack_active', {'id': quack.id}) }}" class="p-4"><i class="fa-solid fa-eye-slash"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <!-- Si la recherche est vide, afficher toutes les publications -->

                    {% for quack in quacks %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <h3>{{ quack.author.duckname }}</h3>
                                <img class="img-fluid rounded-circle border" style="width: 70px; height: auto;" src="{{ asset(quack.author.picture) }}" alt="">
                                <p class="card-text">{{ quack.content }}</p>
                                {% if quack.picture %}
                                    <div class="post-image mb-3">
                                        <img src="{{ asset(quack.picture) }}" class="img-fluid rounded" style="height:300px;" alt="Post Image">
                                    </div>
                                {% endif %}
                                <div class="text-muted">
                                    <small>{{ quack.createdAt ? quack.createdAt|date('Y-m-d') : '' }}</small>
                                </div>

                                <!-- Gestion des likes -->
                                {% include "partials/_like.html.twig" with{rating: quack.rating, from: 'quack', id: quack.id} %}

                                <a href="{{ path('app_comment', {id: quack.id}) }}">
                                    <i class="fa-regular fa-comment fa-lg"></i>
                                </a>

                                <strong>: {{ quack.nbresponse }}</strong>

                                <div class="mt-2">
                                    {% if app.user == quack.author or is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('app_quack_edit', {'id': quack.id}) }}" class="btn btn-link p-4"><i class="fa-solid fa-pen"></i></a>
                                        <a href="{{ path('app_quack_delete', {'id': quack.id}) }}" class="btn btn-link text-danger p-4"><i class="fa-solid fa-trash"></i></a>
                                        <a href="{{ path('app_quack_active', {'id': quack.id}) }}" class="p-4"><i class="fa-solid fa-eye-slash"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </section>

            <!-- Colonne droite (Suggestions, amis, etc.) -->
            {% include "partials/_rightBar.html.twig" %}
        </div>
    </div>
{% endblock %}
